.header, .headingMessage, .colorMessage, .colorDiv, #gridContainer, .colorContainer, .containerContainer {
    text-align: center;
    justify-content: center;
}
#gridContainer {
    margin-top: 5%;
}
body {
    background-color: rgb(95, 163, 209);
}
#red, #blue, #green, #orange, #yellow, #black, #pink, #white, #purple, #currentColor, #resetColors {
    width: 20px;
    height: 20px;
    border: 1.5px solid black;
    border-radius: 50%;
    margin: .7%;
}
.colorDiv {
    display: flex;
    justify-content: center;
}
#colorDescription, #resetMessage {
   margin-top: .7%;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#black {
    background-color: black;
}
#pink {
    background-color: pink;
}
#white {
    background-color: white;
}
#purple {
    background-color: purple;
}
#currentColor {
    background-color: white;
}
.colorContainer {
    background-color: white;
    width: 5px;
    height: 5px;
    border: .5px solid black;
}
.containerContainer {
    display: flex;
}
#gridContainer {
    display: grid;
}
#resetColors {
    background-color: black;
    border-color: aqua;
}